
@import url(//db.onlinewebfonts.com/c/736cf5b08b01082a3645e14038868e20?family=Krungthep);

.DisplayText {
    cursor: default;
    color: #00adb5;
    display: inline-block;
    font-family: 'Krungthep';
    font-size: 9vw;
    margin: 200px 25% 0px 25%;
    text-align: center;
    width: 50%;
    user-select: none;
    /* text-shadow: 0px 2px 12px #00adb5; */
}

.DisplayText em{
    color: #eeeeee;
    font-style: normal;
    text-shadow:none;
}

.searchBar {
    height: 50px;
    margin: 20px 25% 0px 25%;
    width: 50%;
    border-radius: 3px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.searchForm {
    color: #363636;
    font-size:16px;
    line-height:1.5;
    font-weight:800;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Krungthep';
    text-indent:12px;
    width:100%;
    height:32px;
    border-radius: 3px;
    border:0px;
    margin: 0px;
    padding: 0px;
}

.searchButton {
    width: 70px ;
    height: 30px;
    background-color: #00adb5;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    margin-right: 10px;

    color: white;
    font-weight:800;
    font-family: 'Krungthep';
    font-size: 23px;

    align-items: center;
    justify-content: center;

    box-shadow: 0px 3px #00737a;
}

.searchButton:hover {
    background-color: #0A939C;
}

.searchButton:active {
    transform: translateY(2px);
}


/* Highlight effect on search From */
.searchForm {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 0px solid #ffffff;
  }

  /* input[type=text]:focus + .searchBar {
    box-shadow: 0 0 5px #0CA5B0;
    border: 1px solid #0CA5B0;
  } */
  /* 0CA5B0  rgba(81, 203, 238, 1)*/


/* Media Queries for mobile devices */
@media only screen and (max-width: 480px) {
   
    .searchBar {
        height: 36px;
        margin: 20px 15% 0px 15%;
        width: 70%;
    
    }
    
    .DisplayText {
        color: #363636;
        display: inline-block;
        font-family: 'Krungthep';
        font-size: 50px;
        margin: 200px 25% 0px 25%;
        text-align: center;
        width: 50%;
    }
}

.helix-container {
    position: relative;
}

@keyframes bouncing-loader {
    to {
      opacity: .1;
      transform: translate3d(0, -1rem, 0);
    }
  }
  .bouncing-loader {
    z-index: 1;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .bouncing-loader > div {
    z-index: 1;
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #0CA5B0;
    border-radius: 50%;
    animation: bouncing-loader .8s infinite alternate;
  }
  .bouncing-loader > div:nth-child(2) {
    z-index: 1;
    animation-delay: 0.3s;
  }
  .bouncing-loader > div:nth-child(3) {
    z-index: 1;
    animation-delay: 0.6s;
  }

  @keyframes bouncing-loader-white {
    from {
        opacity: 1;
        transform: translate3d(0, -.9rem, 0);
    }
    to {
      opacity: 0;
      /* transform: translate3d(0, -1rem, 0); */
    }
  }
  .bouncing-loader-white {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    z-index: 2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .bouncing-loader-white > div {
    z-index: 2;
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #eeeeee;
    border-radius: 50%;
    animation: bouncing-loader-white .7s infinite alternate-reverse;
  }
  .bouncing-loader-white > div:nth-child(2) {
    z-index: 2;
    animation-delay: 0.2s;
  }
  .bouncing-loader-white > div:nth-child(3) {
    z-index: 2;
    animation-delay: 0.4s;
  }