
.review-container{
    width: 100%;
    height: 105px;
    background-color: none;
    padding-top: 5px;
}

.ratings{
    text-align: center;
    font-style: normal;
    font-family: 'Krungthep';
    color: #505661;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

.rating {
    margin: 0px 10px 0px 10px;
    text-shadow: 0px 1px #000000;
}

.ratingSelected {
    margin: 0px 10px 0px 10px;
    color: #eeeeee;
    text-shadow: 0px 1px #000000;
}

.rating:hover {
    cursor: pointer;
    color: #eeeeee;
}

.review-message{
    border-radius: 2px;
    height: 50px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding: 5px;
    background-color: #393e46;
    border: 1px solid transparent;

    max-height: 50px;
    max-width: 100%;

    color: #eeeeee;
    font-size:12px;
    line-height:1.5;
    font-weight:300px;
    font-family: 'Krungthep';
}

.review-message:focus{
    outline: none !important;
    border:1px solid #00adb5;
    box-shadow: 0 0 10px #719ECE;

    /* 
        max-height: 50px;
        max-width: 100%;
    */
}

.review-submit-button{
    font-family: 'Krungthep';
    color: #00adb5;
    float: right;
    text-shadow: 0px 1.5px #000000;
    cursor: pointer;
    user-select: none;
}

.review-submit-button:active {
    transform: translateY(2px);
}















/* Animations */

/* Enter */

.review-enter {
    /* visibility: hidden; */
    opacity: 0;
    z-index: 1;
  }
  
  .review-enter.review-enter-active {
    /* visibility: visible; */
    opacity: 1;
    /* transition: opacity 500ms linear; */
    animation: movein 500ms ease forwards;
    will-change: transform;
  }
  
  /* Exit */
  
  .review-exit {
    /* visibility: hidden; */
    opacity: 1;
  }
  
  .review-exit.review-exit-active {
    /* visibility: hidden; */
    opacity: 0;
    /* transition: opacity 500ms linear; */
    animation: moveout 500ms ease forwards; 
    will-change: transform;
  }
  
  .review-exit-done {
    /* visibility: hidden; */
    opacity: 0;
  }
  
  /* Animations */
  
  @keyframes movein {
    0% { 
      transform: translateY(0) scale3d(0.96,0.96,1); 
      opacity: .25;
    }
    20% { 
      transform: translateY(15px) scale3d(1.05,1.05.1,1); 
      opacity: .5;
    }
    40% { 
      transform: translateY(5px); 
      opacity: .75;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Reverese movein */
  @keyframes moveout {
  
  
    0% { 
      /* transform: scale3d(1.01,1.01.1,1) ; */
      transform: translateY(5px); 
      opacity:1;
    }
    20% {  
      /* transform: scale3d(0.96,0.96,1); */
      /* transform: translateY(-10px) translateX(-5px);  */
      transform: translateY(5px); 
      opacity: .75;
    }
    40% { 
      /* transform: scale3d(1.05,1.05.1,1); */
      /* transform: translateY(-10px) translateX(-5px);  */
      transform: translateY(2px); 
      opacity: .5;
    }
    /* 75%{ 
      transform: translatex(-10px); 
      opacity: 0.25;
    } */
    100% {
      /* transform: scale3d(0.96,0.96,1); */
      opacity: 0;
    }
  }