@import url(//db.onlinewebfonts.com/c/736cf5b08b01082a3645e14038868e20?family=Krungthep);

.login-button {
    color: #00adb5;
    font-family: 'Krungthep';
    float: right;
    margin: 20px 30px 0px 0px;
    text-decoration: none;
    cursor: pointer;
}

.expanded-login-menu {
    width: 900px;
    height: 900px;
    background-color: salmon;
    position: absolute;
    top: 0px;
}



